attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
click-plugins==1.1.1
cligj==0.7.2
conflate==0.5.2
fiona==1.10.1
geojson==2.5.0
geopandas==1.1.1
idna==3.3
Jinja2==3.1.1
kdtree==0.16
lxml==6.0.2
MarkupSafe==2.1.1
munch==2.5.0
numpy==2.3.4
osm2geojson==0.2.9
osm_conflate==1.4.1
overpass==0.7.2
packaging==25.0
pandas==2.3.3
pyogrio==0.11.1
pyproj==3.7.2
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0.3
requests==2.32.5
Rtree==1.0.0
shapely==2.1.2
six==1.16.0
tzdata==2025.2
urllib3==1.26.9
